@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
 @tailwind base;
@tailwind components;
@tailwind utilities; 
:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #00df9a -278.56%,
    #e5f669 -78.47%,
    ​#dffa2e 91.61%
  );
  --card-shadow: 0px 20px 100px -10px hsla(161, 100%, 44%, 1);
}
.new-btn:hover{
  background: linear-gradient( 90deg, hsl(161deg 39% 49%) 0%, hsl(68deg 46% 49%) 100% ) !important;
  transition: 0.7s !important;
}
* {
  scroll-behavior: smooth;
}
.sponsor_img{
  width: 82px;
  border-radius: 15px;
}
.social{
  display: inline-block;
  width: 33px !important;
  height: 33px !important;
  position: relative;
  overflow: hidden;
  margin: 0 5px;
  vertical-align: middle;
}
.text-gradient {
  background: hsla(161, 100%, 44%, 1);
  background: linear-gradient(
    90deg,
    hsla(161, 100%, 44%, 1) 0%,
    hsla(68, 95%, 58%, 1) 100%
  );


  background: -moz-linear-gradient(
    90deg,
    hsla(161, 100%, 44%, 1) 0%,
    hsla(68, 95%, 58%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(161, 100%, 44%, 1) 0%,
    hsla(68, 95%, 58%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00DF9A", endColorstr="#DFFA2D", GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    90deg,
    hsla(161, 100%, 44%, 1) 0%,
    hsla(68, 95%, 58%, 1) 100%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card {
  border: 1px solid #2e2e2e;
}
.feature-card:hover {
  background: var(--black-gradient);
  border: none;
  cursor: pointer;
  box-shadow: var(--card-shadow);
}
.b__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.g__gradient {
  background: linear-gradient(90deg, #00df9a 80%, #dffa2d 100%);
  filter: blur(900px);
}
.card-btn{
  margin-top: 38px;
}
.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
body {
  font-family: "Poppins"
  
}
/* scrollbar remove */
body::-webkit-scrollbar{
  display: none;
}

.head-image{
  object-fit: contain !important;
    scale: 1 !important;
}


.btn{
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #2e2e2e;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  /* border-radius: 18px; */
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  
  /* background: #4F95DA; */
}

.btn:hover svg {
  stroke-dashoffset: -480;
 
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}