.form_title {
  background: hsla(161, 100%, 44%, 1);
  background: linear-gradient(90deg,
      hsla(161, 100%, 44%, 1) 0%,
      hsla(68, 95%, 58%, 1) 100%);
  background: -webkit-linear-gradient(90deg,
      hsla(161, 100%, 44%, 1) 0%,
      hsla(68, 95%, 58%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00DF9A", endColorstr="#DFFA2D", GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 35px !important;
  font-weight: 600;
}
.rate-style{
  font-size: 16px;
  color: red;
}
.Discount-style{
  font-size: 16px;
  color: rgb(15, 252, 7);
}
.Discount-style span{
text-decoration: line-through;
color: #bfbfbf;
}
.note-style{
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 18px 0;
}
.form_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  max-width: 100%;
  margin: 0 0;
  padding: 20px 10px;
  padding: 2rem 0;
  color: #00df9a;
}

legend {
  background: hsla(161, 100%, 44%, 1);
  background: linear-gradient(90deg,
      hsla(161, 100%, 44%, 1) 0%,
      hsla(68, 95%, 58%, 1) 100%);
  background: -webkit-linear-gradient(90deg,
      hsla(161, 100%, 44%, 1) 0%,
      hsla(68, 95%, 58%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00DF9A", endColorstr="#DFFA2D", GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
}

fieldset {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 0;
  width: 75vw;
  /* background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  ); */
  background-color: rgba(0, 4, 15, 1);
}

#fieldset1,
#fieldset2 {
  display: none;
}


.input_field1 {
  width: 36vw;
  height: 70px;
  border-radius: 10px;
  border: 0.2px solid gray;
  padding: 10px;
}

.input_field {
  width: 36vw;
  height: 70px;
  border-radius: 10px;
  border: 0.2px solid gray;
  padding: 10px;
}

input,
select {
  width: 100%;
  outline: none;
  border: none;
  color: white;
  /* background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%); */
  background-color: transparent;

}

option {
  width: 100%;
  outline: none;
  border: none;
  color: white;
  background: linear-gradient(-168.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  background-color: #11101d;
}

.req_field {
  color: white;
}

.mem {
  margin-top: -40px;
  /* margin-right: 280px; */
  max-width: 100%;
  padding: 0px;

}

.capcha-flex {
  display: flex;
  width: 98%;
  justify-content: left;
}

.captha {
  height: 70px;
  width: 300px;
  display: none;
  background: transparent;
}

/* ::placeholder {
 margin-bottom: 10px !important;
} */

input:valid {
  border-color: rgb(72, 249, 75);
}

.check {
  gap: 10px;
  border-radius: 10px;
  width: 36vw;
  height: 40px;
}

.check input {
  width: 15px;
}

.checks {
  width: 100%;
  display: flex;
  align-self: start;
  justify-content: space-between;
}

.check span {
  font-size: 14px;
}

.first_legend {
  font-size: 12px;
  padding: 2px;
  color: white;
  background-color: #0073e6;
  border-radius: 5px;
}

.T_C {
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.T_C input {
  width: 15px;
  margin-right: 10px;
}

.T_C label {
  color: white;
}

.T_C a {
  background: hsla(161, 100%, 44%, 1);
  background: linear-gradient(90deg,
      hsla(161, 100%, 44%, 1) 0%,
      hsla(68, 95%, 58%, 1) 100%);
  background: -webkit-linear-gradient(90deg,
      hsla(161, 100%, 44%, 1) 0%,
      hsla(68, 95%, 58%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00DF9A", endColorstr="#DFFA2D", GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#button_center {
  background-color: rgba(0, 4, 15, 1);
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  gap: 50vw;
}

#form-button {
  padding: 15px !important;
  width: 167px;
  border: 1px solid #2e2e2e;
  /* border: none !important; */
  /* background: rgb(0, 168, 0) !important; */
  border-radius: 10px !important;
  color: #fff !important;
}

#form-button:hover {

  box-shadow: 0 0 8px rgb(50, 124, 100), 0 0 8px hsla(68, 95%, 58%, 1),
    0 0 8px hsla(161, 100%, 44%, 1);
  transition: 0.7s;
}

.cursor:hover {
  cursor: pointer;
}

.cursor-skip:hover {
  cursor: not-allowed;
}

#button {
  position: relative;
  padding: 0.8em 1.8em;
  outline: none;
  border: 1px solid #303030;
  /* background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  ); */
  background-color: rgba(0, 4, 15, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#button a {
  color: white;
  text-decoration: none;
  text-align: justify;
}

#button:hover {
  box-shadow: 0 0 10px hsla(161, 100%, 44%, 1), 0 0 25px hsla(68, 95%, 58%, 1),
    0 0 50px hsla(161, 100%, 44%, 1);
  transition-delay: 0.8s;
}

#button span {
  position: absolute;
}

#button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, hsla(161, 100%, 44%, 1));
}

#button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

#button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, hsla(68, 95%, 58%, 1));
}

#button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

#button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, hsla(161, 100%, 44%, 1));
}

#button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

#button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, hsla(68, 95%, 58%, 1));
}

#button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

#button:active {
  background: hsla(161, 100%, 44%, 1);
  background: linear-gradient(to top right,
      hsla(161, 100%, 44%, 1),
      hsla(68, 95%, 58%, 1));
  color: #bfbfbf;
  box-shadow: 0 0 8px hsla(161, 100%, 44%, 1), 0 0 8px hsla(68, 95%, 58%, 1),
    0 0 8px hsla(161, 100%, 44%, 1);
  transition: 0.1s;
}

#button:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2) {
  transition: none;
  transition-delay: none;
}


.partion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 10vh; */
}

.line {
  width: 95%;
  border: 1px solid grey;
  opacity: .3;
}
    #bodayy {
   align-self: start;
  
    }

.amount_to_pay {
  margin: 20px 0 0 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.amount_to_pay img {
  width: 275px;
  object-fit: cover;
  height: 300px;
  border-radius: 15px;

}

.amount_to_pay h1 {
  font-size: 25px;
  color: #fff;
}

.amount_to_pay h1 span {
  font-weight: 700;
}
.dummy-container{
  width: 223px;
  height: 58px;
  background-color: transparent;
}
.submitt {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.amount-display{
  color: #fff;
  font-size: 28px;
  margin-bottom: 21px;
}
.submitt button{
align-self: flex-end;
margin-top: 10px;
display: flex;
  align-items: center;
  justify-content: center;
}

.css-9jq23d {
  color: #fff !important;
}

@media screen and (max-width: 1100px) {
  .input_field {
    width: 75vw;
  }

  .check {
    width: 75vw;
  }



  #button_center {
    gap: 30vw;
  }
}

@media screen and (max-width: 750px) {
  #button_center {
    gap: 10vw;
  }

  .css-b62m3t-container {
    width: 100% !important;

  }
}

@media screen and (max-width: 500px) {
  #button_center {
    gap: 5vw;
  }

  .form_title {
    font-size: 29px !important;
  }

  .amount_to_pay {
    flex-direction: column;
  }
  .amount_to_pay img {
    width: 100%;
    margin-bottom: 10px;

 
  }

  .amount_to_pay h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }

.submitt {
  
  width: 100%;
}

  .T_C {
    width: 100%;
  }

  .amount_to_pay {
    flex-direction: column;
  }

  .amount_to_pay h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }

  #bodayy {
    flex-direction: column;
    align-items: center;
    
  }

  .qrr {
    /* width: 78% !important; */
    /* margin-left: 29px !important; */
    height: 56vh !important;
  }

  .response-submit_btn {
    margin-left: 192px;
  }

  .css-b62m3t-container {
    width: 100% !important;

  }
}

@media screen and (max-width: 450px) {
  #button_center {
    gap: 2vw;
  }

  .amount_to_pay {
    flex-direction: column;
  }

  .amount_to_pay img {
    width: 100%;
    margin-bottom: 10px;

  }

  .amount_to_pay h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }

  .button1,
  .button2 {
    margin-left: 0;
    margin-right: 0;
  }

  .check {
    height: 60px;
  }

  .css-b62m3t-container {
    width: 100% !important;

  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
    .qrr {
   margin-top: 25px;
    }
  .amount_to_pay {
    flex-direction: column;
  }

  .amount_to_pay img {
    width: 100%;
    margin-bottom: 10px;

  }

  .amount_to_pay h1 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
  }

  .css-b62m3t-container {
    width: 100% !important;

  }

  #button_center {
    gap: 2vw;
  }

  .button1,
  .button2 {
    width: 30vw;
    height: 60px;
  }


}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.glow-on-hover {
  border: 1px solid #2e2e2e;
}

.glow-on-hover:before {
  opacity: 1;

}

.glow-on-hover:after {

  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.css-b62m3t-container svg {
  position: relative !important;

}

.css-b62m3t-container {
  width: 36vw;

}

.css-13cymwt-control {
  background-color: transparent !important;
  border-color: gray !important;
  border-radius: 10px !important;
  border-style: solid !important;
  padding: 11px !important;
  border-width: 0.5px !important;
}

.css-t3ipsp-control {
  background-color: transparent !important;
  border-color: gray !important;
  border-radius: 10px !important;
  border-style: solid !important;
  padding: 11px !important;
  border-width: 0.5px !important;
}

.css-1p3m7a8-multiValue {

  background-color: hsl(0deg 17% 7%) !important;

}

.css-1y7rh0y-MultiValueGeneric2 {

  color: #fff !important;

}

.css-tj5bde-Svg {
  fill: hsla(161, 100%, 44%, 1) !important;

}

.qrr {
  /* width: 50%; */
  display: flex;
  align-items: center;
  height: 55vh;
  justify-content: flex-end;
}
.closed{
  color: white;
  font-size: 50px;

}
.close-2{
  font-size: 30px;

}